<<<<<<< HEAD
.relative{
    font-size: 2em;
}

.absolute{
    font-size: 32px;
=======
*{
    margin: 0;
}

.navbar{
    background-color: blue;
    height: 100px;
    color: white;
    font-size: 3rem;
}
.banner{
    background-color: red;
    min-height: calc(100vh - 100px);
>>>>>>> ada4d49a73512d904f965984f7a3dfec6906f0a3
}